{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}codeitload.it{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock css %}

    {% block javascript %}{% endblock javascript %}
</head>

<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

    {% include "navbar.html" %}

    <div id="messages">
        {% for message in messages %}
            <div class="alert alert-danger" style="margin: 16px"><i class="glyphicon glyphicon-exclamation-sign"></i>&emsp;{{ message }}</div>
        {% endfor %}
    </div>

    <div id="content" style="margin: 16px">
        {% block content %}
            Content goes here!
        {% endblock content %}
    </div>

    {% include "footer.html" %}
</body>

</html>